* {
  margin: 0;
}

.container-fluid {
    margin-top: 20px;
  /* background-color: teal; */
}

img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

@media (min-width: 800px) {
    .archer-9 img {
        /* height: 500px; */
    }
}